.container {
    width: 600px;
    height: 400px;
    background-color:palevioletred;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    border-radius: 12px;
    border: rgb(63, 56, 56) solid 2px;
    box-shadow: 5px 5px 10px grey;
}

#item1{
    color: blue;
    font-size: 14px;
      padding: 5px;
    background-color: aquamarine;
    border-radius: 12px;
    margin-top: 20px;
}
#item2{
    color: blue;
    padding: 5px;
    font-size: 14px;
    background-color: aquamarine;
    border-radius: 12px;
    margin-top: 20px;
}
#item3{
    color: blue;
    font-size: 14px;
      padding: 5px;
    background-color: aquamarine;
    border-radius: 12px;
    margin-top: 20px;
}
#item4{
    color: blue;
      padding: 5px;
    font-size: 14px;
    background-color: aquamarine;
    border-radius: 12px;
    margin-top: 20px;
}
#item5{
    color: blue;
      padding: 5px;
    font-size: 14px;
    background-color: aquamarine;
    border-radius: 12px;
    margin-top: 20px;
}

