.container {
    width: 600px;
    height: 200px;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    border-radius: 12px;
    border: black solid 2px;
    box-shadow: 5px 5px 10px rgb(178, 156, 156);
}   

.box1{
    height: 25px;
    width: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:yellow;
    border: black solid 1px;
    border-radius: 10px;
    
    padding: 5px 15px;
    /* justify-content: center; */
    margin-top: 20px;
    text-align: center;

}